PINECONE_API_KEY=pcsk_SQpmZ_DPEBuFp8eT6NrfRjArtp34n4if2EbFrSKKUgEBx12iLaW2rjjDUEaNnvGLPZx5
GROQ_API_KEY=your_groq_api_key_here
TAVILY_API_KEY=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
UPSTASH_REDIS_URL="rediss://default:gQAAAAAAAVIgAAIncDIzNzMzYjFhOGUzYmE0MDYxYTdkMTQzNjQ4M2NlMTdlYXAyODY1NjA@sure-corgi-86560.upstash.io:6379"
LANGFUSE_SECRET_KEY="sk-lf-c4775199-aed1-4ce0-8176-f7d4aa219370"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
LANGFUSE_PUBLIC_KEY=pk-lf-c0472d82-d72e-48f9-8c1a-6b2aceafcbd6
SECRET_KEY=611ff298da04ce612ba3dc3dd7f0044fbaa4847872e5f4abe820314cbcb7d3d9