PINECONE_API_KEY=****
GROQ_API_KEY=your_groq_api_key_here
TAVILY_API_KEY=****
UPSTASH_REDIS_URL=****
LANGFUSE_SECRET_KEY=****
LANGFUSE_BASE_URL=https://cloud.langfuse.com
LANGFUSE_PUBLIC_KEY=****
SECRET_KEY=****
